@font-face {
    font-family: "droidserif-bold";
    src: url('./fonts/DroidSerif-Bold.ttf') format("truetype");
}

body {
    font-size: 100%;
    font-family: "Helvetica Neue Light, Helvetica", sans-serif;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (max-device-width : 568px)

{
    body {
        font-size: 80%;
    }
}

a {
    text-decoration: none;
    color: #7c7c7c;
}

a:active, a:hover {
    color: #8c8c8c;
}

h1 a {
    color: #231f20;
}

h1 {
    font-family: 'droidserif-bold', serif;
    color: #231f20;
}

h2 {
    font-family: "Helvetica Neue Light, Helvetica", sans-serif;
    font-weight: 100;
}

img {
    display: block;
    width: 100%;
}

.header {
    width: 100%;
}

#home h1, #standard h1{
    padding: 1.5em 0.625em 0.625em 1em;
}

#home h1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 3em;
    line-height: .85em;
}

#shanghai {
    color: #1cacc6;
}

#standard h1{
    line-height: .85em;
}

#standard #people-can {
    text-align: right;
    width: 3.8em;
    float: left;
}

#standard #code {
    float: left;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    float: left;
    margin-left: -1em;
    margin-right: -0.9em;
}

#standard #shanghai {
    padding-top: .85em;
    float: left;
}

#shanghai:after {
    content: "";
    display: table;
    clear: both;
}

.header h1:after {
    content: "";
    display: table;
    clear: both;
}

.title {
    padding: 0 1.6em 10px 1.6em;
}

.title h1, .title h2 {
    padding: .6em .8em .6em .8em;
    border-top: solid 1px #7c7c7c;
    border-bottom: solid 1px #7c7c7c;
    color: #7c7c7c;
}

.title h2 {
    font-size: 1.2em;
}

.title h1 {
    font-family: "Helvetica Neue Light", helvetica, sans-serif;
    font-weight: 100;
    padding-left: 15px;
    font-size: 1.9em;
    margin-bottom: 50px;
}

.menu {
    width: 100%;
    margin-top: 3em;
}

.menu ul {
    list-style: none;
    padding-left: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
}

.menu ul li {
    display: block;
    text-align: center;
    background-color: #edf3f4;
    margin-bottom: 5px;
}

.menu ul li:hover, .menu ul li:active {
    background-color: #d2d7d8;
}

.menu ul li a {
    display: block;
    line-height: 2em;
    font-size: 1.5em;
}

#main {
    min-height: 500px;
}

.images {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.images img {
    background-color: #e6e6e6;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 600px;
    float: left;
}

.images:after{
    content: "";
    display: table;
    clear: both;
}

#footer {
    margin-top: 40px;
    padding: 20px 30px 20px 50px;
}

#footer a {
    font-size: .7em;
}

.address {
    width: 80%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.address p {
    line-height: 1.3em;
    margin: 0;
    color: #7c7c7c;
    font-weight: 100;
    font-family: "Helvetica Neue Light", helvetica, sans-serif;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    font-weight: 100;
    color: #7c7c7c;
}

.navigation {
    display: none;
}

.stormycloud {
    display: none;
}


@media (min-width : 769px) {
    .navigation {
       display: block;
       width: 29%;
       margin-top: 5em;
       float: left;
    }

    .navigation ul {
        list-style: none;
    }
    .navigation ul li {
        display: inline-block;
    }
    .navigation ul li:after {
        content: ' | ';
    }

    .navigation ul li:last-of-type:after {
        content: '';
    }
    .header h1 {
        width: 63%;
        float: left;
    }
    .header:after{
        content: "";
        display: table;
        clear: both;
    }

    #home .navigation {
        margin-top: 9em;
        width: 29%;
    }

    #home h1 {
        width: 60%;
    }

    #home #people-can {
        text-align: right;
        width: 3.8em;
        float: left;
    }

    #home #code {
        float: left;
        transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        float: left;
        margin-left: -1em;
        margin-right: -.8em;
    }

    #home #shanghai {
        padding-top: .85em;
        float: left;
    }
    .menu {
        display: none;
    }
    .stormycloud{
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 625px;
    }
}

@media (min-width : 1024px) {
    .navigation {
        width: 50%;
    }

    .navigation * {
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
    }

    .navigation ul li {
        line-height: 2em;
        width: 6em;
        text-align: center;
    }

    .navigation  ul li:hover, .navigation ul li:hover {
        background-color: #dbf2fa;
        border-bottom: 2px solid gray;
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);

    }

    .navigation ul li:after {
        content: '';
    }

    .header h1, #home h1 {
        width: 50%;
    }


    .images * {
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
    }

    .images img:hover {
        -webkit-box-shadow: 2px 2px 5px gray;
        -moz-box-shadow: 2px 2px 5px gray;
        box-shadow: 20px 10px 20px #b3b3b3;
        transform: rotate(4deg) scale(1.1,1.1);
        -ms-transform: rotate(4deg) scale(1.1,1.1);
        -webkit-transform: rotate(4deg) scale(1.1,1.1);
    }
    .images img {
        margin-bottom: 40px;
    }
}
