@font-face {
    font-family: "droidserif-bold";
    src: url('./fonts/DroidSerif-Bold.ttf') format("truetype");
}

body {
    font-size: 100%;
    font-family: "Helvetica Neue Light, Helvetica", sans-serif;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (max-device-width : 568px)
{
    body {
        font-size: 80%;
    }
}

a {
    text-decoration: none;
    color: #7c7c7c;
}

a:active, a:hover {
    color: #8c8c8c;
}

h1 {
    font-family: 'droidserif-bold', 'Georgia', serif;
    color: #231f20;
}

h1 a {
    color: #231f20;
}

h2 {
    font-family: "Helvetica Neue Light, Helvetica", sans-serif;
    font-weight: 100;
}

img {
    display: block;
    width: 100%;
}

.header h1 * {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.header {
    width: 100%;
}

#home h1, #standard h1{
    padding: 1.5em 0.625em 0.625em 1em;
}

#home h1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 3em;
    line-height: .85em;
}

#shanghai {
    color: #1cacc6;
}

#standard h1{
    line-height: .85em;
}

#standard #people-can {
    text-align: right;
    width: 3.8em;
    float: left;
}

#standard #code {
    float: left;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    float: left;
    margin-left: -1em;
    margin-right: -0.9em;
}

#standard #shanghai {
    padding-top: .85em;
    float: left;
}

#shanghai:after {
    content: "";
    display: table;
    clear: both;
}

.header h1:after {
    content: "";
    display: table;
    clear: both;
}

.title {
    padding: 0 1.6em .8em 1.6em;
}

.title h1, .title h2 {
    padding: .6em .8em .6em .8em;
    border-top: solid 1px #7c7c7c;
    border-bottom: solid 1px #7c7c7c;
    color: #7c7c7c;
}

.title h2 {
    font-size: 1.2em;
}

.title h1 {
    font-family: "Helvetica Neue Light", helvetica, sans-serif;
    font-weight: 100;
    padding-left: 1em;
    font-size: 1.9em;
    margin-bottom: 50px;
}

.menu {
    width: 100%;
    margin-top: 3em;
}

.menu ul {
    list-style: none;
    padding-left: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
}

.menu ul li {
    display: block;
    text-align: center;
    border: 1px solid #dcdcdc;
    margin-bottom: .4em;
}

.menu ul li:hover, .menu ul li:active {
    background-color: #dbf2fa;
    border-bottom: 2px solid gray;
}

.menu ul li a {
    display: block;
    line-height: 2em;
    font-size: 1.5em;
}

#main {
    min-height: 500px;
}

.images {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.images img {
    background-color: #e6e6e6;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 600px;
    float: left;
}

.images:after{
    content: "";
    display: table;
    clear: both;
}

#footer {
    margin-top: 3em;
    padding: 1.5em 2em 1.5em 3em;
}

#footer a {
    font-size: .7em;
}

.address {
    width: 80%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.address p {
    line-height: 1.3em;
    margin: 0;
    color: #7c7c7c;
    font-weight: 100;
    font-family: "Helvetica Neue Light", helvetica, sans-serif;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    font-weight: 100;
    color: #7c7c7c;
}

.navigation {
    display: none;
}

.stormycloud {
    display: none;
}


@media (min-width : 769px) {
    .navigation {
       display: block;
       width: 29%;
       margin-top: 5em;
       float: left;
       text-align: left;
    }

    .navigation ul {
        list-style: none;
    }
    .navigation ul li {
        display: inline-block;
    }
    .navigation ul li:after {
        content: ' | ';
    }

    .navigation ul li:last-of-type:after {
        content: '';
    }
    .header h1 {
        width: 63%;
        float: left;
    }
    .header:after{
        content: "";
        display: table;
        clear: both;
    }

    #home .navigation {
        margin-top: 9em;
        float: right;
    }

    #home h1 {
        width: 60%;
    }

    #home #people-can {
        text-align: right;
        width: 3.8em;
        float: left;
    }

    #home #code {
        float: left;
        transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        float: left;
        margin-left: -1em;
        margin-right: -.8em;
    }

    #home #shanghai {
        padding-top: .85em;
        float: left;
    }
    .menu {
        display: none;
    }
    .stormycloud{
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 625px;
    }
}

@media (min-width : 1024px) {
    .navigation {
        width: 30%;
        float: right;
    }

    .navigation * {
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }

    .navigation ul li {
        line-height: 2em;
        width: 5em;
        text-align: center;
        border: 1px solid #dcdcdc;
    }

    .navigation  ul li:hover, .navigation ul li:hover {
        background-color: #dbf2fa;
        border-bottom: 2px solid gray;
    }

    .navigation ul li:after {
        content: '';
    }

    .header h1, #home h1 {
        width: 47%;
    }

    .images * {
        -webkit-transition: all .9s ease;
        -moz-transition: all .9s ease;
        -o-transition: all .9s ease;
        transition: all .9s ease;
    }

    .images img:hover {
        -webkit-box-shadow: 2px 2px 5px gray;
        -moz-box-shadow: 2px 2px 5px gray;
        box-shadow: 20px 10px 20px #b3b3b3;
        transform: rotate(4deg) scale(1.1,1.1);
        -ms-transform: rotate(4deg) scale(1.1,1.1);
        -webkit-transform: rotate(4deg) scale(1.1,1.1);
        opacity: 1;
    }
    .images img {
        margin-bottom: 2em;
        opacity: .5;
    }
    .stormycloud{
        max-width: 1000px;
    }
}

/* */
#home {
  zoom: 1;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 1px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 1px rgba(0, 0, 0, 0.6);
  background: #efefef;
  position: fixed;
  width: 100%;
  z-index: 999;

  &:before, &:after{
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
  .menu-link {
    padding: 16px 16px 8px;
    font-size: 32px;
    float: right;
  }
  .navigation {
    -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 64px;
    background: #efefef;
    width: 100%;
    z-index: -1;
    li {
      text-transform: uppercase;
      width: 100%;
      a {
        display: block;
        line-height: 2em;
        text-align: center;
        padding: 1em 0;
        -webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d5d5d5;
        -moz-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d5d5d5;
        box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d5d5d5;
      }
      &:last-child  {
        a {
          -webkit-box-shadow: inset 0 1px 0 white;
          -moz-box-shadow: inset 0 1px 0 white;
          box-shadow: inset 0 1px 0 white;
        }
      }
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5) {
  #home {
    -webkit-box-shadow: inset 0 -1px -1px white, 0 1 -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 -1px -1px white, 0 1 -1px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 -1px -1px white, 0 1 -1px rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: 769px) {
  #home {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }

  #home, #home * {
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }

  #home {
    .logo {
      width: 124px;
      height: 158px;
      position: relative;
      img {
        margin-top: 55px;
        width: 46px;
        height: 48px;
      }
      span {
        -webkit-transition-duration: 0.25s;
        -moz-transition-duration: 0.25s;
        -o-transition-duration: 0.25s;
        transition-duration: 0.25s;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        display: block;
        position: absolute;
        color: #ededed;
        font-size: 45px;
        text-align: center;
        width: 100%;
        top: 57px;
      }
      &:hover {
        background: #6ba0ab;
        span {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
          opacity: 1;
        }
        img {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
          opacity: 0;
        }
      }
    }
    .menu-link {
      display: none;
    }
    .navigation {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background: transparent;
      position: static;
      visibility: visible;
      pointer-events: true;
      filter: none;
      width: auto;
      float: right;
      li {
        float: left;
        width: auto;
        margin: 0 0 0 25px;
        a, &:last-child a {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          padding: 78px 0 60px;
          font-size: 1.05em;
          span {
            border-bottom: 2px solid rgba(183, 217, 222, 0);
            padding: 0 4px 10px;
          }
          &:hover {
            span {
              border-bottom: 2px solid #b7d9de;
            }
          }
        }
      }
    }
  }

  #home.alt {
    -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 1px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 1px rgba(0, 0, 0, 0.6);
    background: #efefef;
    opacity: .99;
    .logo {
      height: 102px;
      img {
        width: 36px;
        height: 38px;
        margin-top: 29px;
      }
      span {
        top: 29px;
        font-size: 38px;
      }
    }
    .navigation li a {
      padding: 2em 0;
    }
    .navigation li a:hover span {
      border-bottom: 2px solid #b7d9de;
    }
  }
}

