@font-face {
    font-family: "droidserif-bold";
    src: url('./fonts/DroidSerif-Bold.ttf') format("truetype");
}

/* new 2013-07-24 */
@font-face {
    font-family: 'icomoon';
    src:url('./fonts/icomoon.eot');
    src:url('./fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.woff') format('woff'),
    url('./fonts/icomoon.ttf') format('truetype'),
    url('./fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
/* */



body {
    font-size: 100%;
    font-family: "Helvetica Neue Light, Helvetica", sans-serif;
    /* new 2013-07-24 */
    margin: 0;
    margin-top: -20px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (max-device-width : 568px)
{
    body {
        font-size: 80%;
    }
}

a {
    text-decoration: none;
    color: #7c7c7c;
}

a:active, a:hover {
    color: #8c8c8c;
}

button {
    padding: 20px;
    font-size: 2em;
    color: white;
}

button:hover {

}


h1 {
    font-family: 'droidserif-bold', 'Georgia', serif;
    color: #231f20;
}

h1 a {
    color: #231f20;
}

h2 {
    font-family: "Helvetica Neue Light, Helvetica", sans-serif;
    font-weight: 100;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}



.address {
    width: 80%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.address p {
    line-height: 1.3em;
    margin: 0;
    color: #7c7c7c;
    font-weight: 100;
    font-family: "Helvetica Neue Light", helvetica, sans-serif;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    font-weight: 100;
    color: #7c7c7c;
}

#footer {
    margin-top: 3em;
    padding: 1.5em 2em 1.5em 3em;
}

#footer a {
    font-size: .7em;
}


/* new 2013-07-24 */
.header {
    zoom: 1;
    -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 1px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 1px rgba(0, 0, 0, 0.6);
    background: #fdfdfd;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header h1 * {     /* changed transition times to 0 to overwrite default seettings of .25 second for header */
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}

.header > a {    /* style to position icon when body has no margin */
    margin-top: .5em;
    margin-bottom: 0;
}

.header {
    width: 100%;
}

.header:after {
    content:'';
    display: table;
    clear: both;
}

.header .navigation {   /* mobile view header */
    -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 64px;
    background: #f6f6f6;
    width: 100%;
    z-index: -1;
}

.header .navigation ul {
    padding:0;
    margin: 0;

}

.header .navigation li {
    text-transform: uppercase;
    width: 100%;
}

.header .navigation li a {
    display: block;
    line-height: 2em;
    text-align: center;
    padding: 1em 0;
    -webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d5d5d5;
    -moz-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d5d5d5;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d5d5d5;
}

.header .navigation li:last-child a {
    -webkit-box-shadow: inset 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 0 white;
    box-shadow: inset 0 1px 0 white;
}

.hidden {   /* class hidden to for use with javascript to close the menu */
    display: none;
}

.images {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.images img {
    background-color: #e6e6e6;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 600px;
    float: left;
}

.images:after{
    content: "";
    display: table;
    clear: both;
}

#logo {  /* new id */
    float: left;
    padding-top: 10px;
}

#main {
    /* padding top to move below fixed menu */
    padding-top: 100px;
    min-height: 500px;
}

/* link to turn on and off the drop-down menu */
.menu-link {
    height: 44px;
    padding: 16px 16px 8px;
    font-size: 32px;
    float: right;
}

.stormycloud {
    display: none;
}

#standard h1{
    padding: 1.5em 0.625em 0.625em 1em;
    font-size: 1em;
    line-height: .85em;
}

#shanghai {
    color: #1cacc6;
}

#standard h1{

}

#standard #people-can {
    text-align: right;
    width: 3.8em;
    float: left;
}

#standard #code {
    float: left;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    float: left;
    margin-left: -1em;
    margin-right: -0.9em;
}

#standard #shanghai {
    padding-top: .85em;
    float: left;
}

#shanghai:after {
    content: "";
    display: table;
    clear: both;
}


.title {
    padding: 0 1.6em .8em 1.6em;
}

.title h1, .title h2 {
    padding: .6em .8em .6em .8em;
    border-top: solid 1px #7c7c7c;
    border-bottom: solid 1px #7c7c7c;
    color: #7c7c7c;
}

.title h2 {
    font-size: 1.2em;
}

.title h1 {
    font-family: "Helvetica Neue Light", helvetica, sans-serif;
    font-weight: 100;
    padding-left: 1em;
    font-size: 1.9em;
    margin-bottom: 50px;
}


@media (min-width : 769px) {

    .header {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background: transparent;
    }

    .header, .header * {
        -webkit-transition-duration: 0.25s;
        -moz-transition-duration: 0.25s;
        -o-transition-duration: 0.25s;
        transition-duration: 0.25s;
    }

    .header .navigation {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background: transparent;
        position: static;
        visibility: visible;
        pointer-events: true;
        filter: none;
        width: auto;
        float: right;
    }

    .header .navigation ul {
        padding-right: 3em;
    }

    .header .navigation li {
        float: left;
        width: auto;
        margin: 0 0 0 25px;
    }

    .header .navigation li a, .header .navigation li:last-child a {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 78px 0 60px;
        font-size: 1.05em;
    }

    .header .navigation li a span, .header .navigation li:last-child a span {
        border-bottom: 2px solid rgba(183, 217, 222, 0);
        padding: 0 4px 10px;
    }
    .header .navigation li a:hover span, .header .navigation li:last-child a:hover span {
        border-bottom: 2px solid #b7d9de;
    }

    .header:after{
        content: "";
        display: table;
        clear: both;
    }

    .header.alt {
        -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 1px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 1px rgba(0, 0, 0, 0.6);
        box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 1px rgba(0, 0, 0, 0.6);
        background: #fdfdfd;
        opacity: .95;
    }

    .header.alt #logo {
        padding-bottom: 10px;
    }

    .header.alt#standard h1 {
        font-size:1.5em;
    }

    .header.alt .navigation li a {
        padding: 2em 0;
        margin-top: 1em;
    }

    .header.alt .navigation li a:hover span {
        border-bottom: 2px solid #b7d9de;
    }

    .hidden {
        display: block;
    }

    #main {
        padding-top: 200px;
    }

    .menu-link {
        display: none;
    }

    #standard h1 {
        font-size: 2em;
    }

    .stormycloud{
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 625px;
    }
}

@media (min-width : 1024px) {

    .images * {
        -webkit-transition: all .9s ease;
        -moz-transition: all .9s ease;
        -o-transition: all .9s ease;
        transition: all .9s ease;
    }

    .images img:hover {
        -webkit-box-shadow: 2px 2px 5px gray;
        -moz-box-shadow: 2px 2px 5px gray;
        box-shadow: 20px 10px 20px #b3b3b3;
        transform: rotate(4deg) scale(1.1,1.1);
        -ms-transform: rotate(4deg) scale(1.1,1.1);
        -webkit-transform: rotate(4deg) scale(1.1,1.1);
        opacity: 1;
    }
    .images img {
        margin-bottom: 2em;
        opacity: .5;
    }
    .stormycloud{
        max-width: 1000px;
    }
}


